/* nav.navbar.navbar-expand.align-items-center.gap-4 {
    background: black;
} */
.top-header {
    background: transparent;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .btn-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .search-bar {
    flex-grow: 1;
  }
  
  .search-control {
    width: 100%;
    padding: 8px 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
  }
  
  .search-close-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  