.chat-window {
	/* margin-bottom: 40px; */
	height: calc(100vh - 150px);
	overflow-y: auto;
	padding: 10px 10px 0;
}

.chat-footer-section {
	position: sticky;
	bottom: 0;
}

.send-btn {
	width: 85px;
}

.msg-textbox {
	width: calc(100% - 85px);
}

@media (min-width: 1024px) {
	.chat-container > * {
		margin-left: 256px;
	}
}
